<div role="alert"
     ng-show="field.$invalid && (field.$touched || form.$triedSubmit)"
     ng-messages="field.$error">
  <span ng-message="required">This field is required.</span>
  <span ng-message="email">Please enter a valid email.</span>
  <span ng-message="number">Please enter a numeric value.</span>
  <span ng-message="pattern">This field does not match the expected format.</span>
  <span ng-message="minlength">The min length for this field is {{ attrs.minlength }}</span>
  <span ng-message="min">The min value for this field is {{ attrs.min }}</span>
  <span ng-message="maxlength">The max length for this field is {{ attrs.maxlength }}</span>
  <span ng-message="max">The max value for this field is {{ attrs.max }}</span>
</div>
