<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <div class="col-xs-6">
                <h1>Round {{ $ctrl.game.CurrentRound.Id }}</h1>
                <div ng-repeat="player in $ctrl.game.Players" ng-show="$ctrl.currentPlayerIndex == $index">
                    <form ng-submit="$ctrl.saveRound()" ng-fab-form>
                        <div class="form-group col-xs-8">
                            <h2>{{ player }}</h2>
                            <select class="form-control" ng-model="$ctrl.game.CurrentRound.Moves[$index].Move" required>
                                <option ng-repeat="move in $ctrl.moves" ng-value="move.Name">{{ move.Name }}</option>
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-info">OK</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-1">
                <div ng-show="$ctrl.game.Rounds && $ctrl.game.Rounds.length > 0">
                    <h2>Score</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Round</th>
                                <th>Winner</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="round in $ctrl.game.Rounds">
                                    <td>{{ round.Id }}</td>
                                    <td>{{ round.Winner }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>