<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <h1>We have a new WINNER!!</h1>
        <h1>{{ $ctrl.gameWinner }} is the new EMPEROR!</h1>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <a class="btn btn-info main-button" ui-sref="layout.start">Play Again</a>
    </div>
</div>