/*!
 * Start Bootstrap - New Age v3.3.7 (http://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../img/bg-pattern.png"), #7b4397;
  color: white;
  margin-bottom: 2%;
}
body {
  webkit-tap-highlight-color: #222222;
}
.card{
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 2px;
    color: rgba(0,0,0,.87);
    background: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    .card-body{
        margin: 2% 0 2% 0;
    }
}

.btn-info{
    background-color: #7b4397;
    border-color: #7b4397;
}

.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info:active:focus, .btn-info.active:focus, 
.btn-info:active.focus, .btn-info.active.focus{
    background-color: #9A54BD;
    border-color: #7b4397;
}

.main-button{
    margin-top: 3%;
}