<header>
</header>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="col-xs-12">
                <div class="card-body">
                    <div class="row">
                        <div class="card-container col-xs-12">
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>