<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="$ctrl.submit()" ng-fab-form>
            <div class="form-group" ng-repeat="player in ::$ctrl.game.Players track by $index">
                <label for="{{$index}}">Player {{$index + 1}}</label>
                <input class="form-control" type="text" id="{{$index}}" name="{{$index}}" ng-model="$ctrl.game.Players[$index]" required/>
            </div>
            <div>
                <button type="submit" class="btn btn-info">Start</button>
            </div>
        </form>
    </div>
</div>